@import 'all.scss';

nav.sub {
  @include govuk-font(19);
  padding: govuk-spacing(3) 0;
  border-bottom: 1px solid govuk-colour('mid-grey');
  text-align: right;
  position: relative;
  margin: (govuk-spacing(7) * -1) 0 govuk-spacing(5) 0;

  a {
    margin: 0 0 0 govuk-spacing(3);
    transition: box-shadow 0.3 ease-in;
    &.selected {
      color: black;
      text-decoration: none;
      box-shadow: 0 4px black;
      padding-bottom: govuk-spacing(3) - 2px;
    }
  }

  .service {

    position: absolute;
    left: 0;

    a {
      padding: 0;
      margin: 0;
    }

  }

}

input[type=checkbox] {
  margin-left: 1em;
}

.none {
  color: #999;
}

table {
  border-spacing: 0;
}

h2 {
  margin: 2em 0 0.5em 0;
}

.stick-at-bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 1em 0;
  background: white;
}

.fix-at-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em 3em;
  background: white;
}

details {
  margin-top: 3em;
}

.metadata-summary {

  display: inline-block;
  @include govuk-font(16);
  color: govuk-colour('dark-grey');
  border: 2px solid govuk-colour('mid-grey');
  margin: 0 govuk-spacing(2) 0 0;

  &-key {
    //font-weight: bold;
    display: inline-block;
    background: govuk-colour('light-grey');
    color: govuk-colour('black');
    padding: govuk-spacing(1) govuk-spacing(2);
    border-bottom: 2px solid govuk-colour('mid-grey');
  }

  &-value {
    display: block;
    //font-weight: bold;
    color: govuk-colour('black');
    padding: govuk-spacing(1) govuk-spacing(2);
  }

}

.keyline {
  border-top: 1px solid govuk-colour('mid-grey');
  padding-top: govuk-spacing(6);
}


.spreadsheet {

  @include govuk-font(19);
  margin-bottom: govuk-spacing(6);
  width: 100%;

  thead {
    td {
      background: govuk-colour('light-grey');
      padding: govuk-spacing(2);
      border-bottom: 0;
      color: govuk-colour('black');
    }
  }

  td {
    border: 1px solid govuk-colour('mid-grey');
    border-top: 2px solid govuk-colour('mid-grey');
    border-bottom: 2px solid govuk-colour('mid-grey');
    border-right: none;
    padding: govuk-spacing(2);
    vertical-align: top;

    &:first-child {
      border-left: 2px solid govuk-colour('mid-grey');
    }

    &:last-child {
      border-right: 2px solid govuk-colour('mid-grey');
    }

    &.button-field {
      background: none;
      a {
        display: block;
        margin-bottom: 0 !important;
      }
    }

    &.spacer-field {
      border-top: none;
    }

    &.borderless-field {
      border: none;
    }
    a {
      display: block;
    }
    .govuk-button {
      position: relative;
      top: 35px;
    }
  }

}


.screenshot {

  border: 2px solid govuk-colour('mid-grey');
  border-radius: 5px;
  background: govuk-colour('mid-grey');

  &-header {
    background: black;
    color: white;
    @include govuk-font(24);
    font-weight: bold;
    padding: govuk-spacing(2);
  }
  &-body {
    padding: govuk-spacing(2);
    background: govuk-colour('white')
  }
  &-button {
    padding: govuk-spacing(2);
    display: inline-block;
    background: govuk-colour('green');
    @include govuk-font(16);
    color: govuk-colour('white');
  }
}

#link-preview {
  @include govuk-font(14);
  background: white;
  border-left: 5px solid govuk-colour('mid-grey');
  border-top: 2px solid govuk-colour('mid-grey');
  border-bottom: 2px solid govuk-colour('mid-grey');
  padding: 2px;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background: white;
  padding: govuk-spacing(4) govuk-spacing(3);
  margin: 0 (govuk-spacing(3) * -1);
  border-top: 1px solid govuk-colour('mid-grey');
  box-shadow: 0 -2px 0 0 rgba(191,193,195,.2);
}

.filters {
  background: govuk-colour('light-grey');
  width: 100%;
  height: 200px;
  text-align: center;
  color: govuk-colour('mid-grey');
  @include govuk-font(27);
  line-height: 200px !important;
  margin-bottom: govuk-spacing(4);
}
