{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Add a reporting column</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      Reporting columns let you add extra information to transactions,
      for example a cost centre code or business area.
    </p>

    <p class="govuk-body">
      They’re not shown to the user making the payment.
    </p>

    <form method="post">

      {{ govukInput({
        'label': {
          'text': 'Column name'
        },
        'id': 'key',
        'name': 'key',
        'hint': {
          'text': 'Shown in the header row of the report'
        }
      }) }}

      {{ govukInput({
        'label': {
          'text': 'Cell value'
        },
        'id': 'value',
        'name': 'value',
        'hint': {
          'text': 'Added to each row of the report'
        }
      }) }}

      {{ govukButton({
        'text': 'Add reporting column'
      }) }}

    </form>
  </div>
</div>

{% endblock %}
