{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Add a reporting column</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" autocomplete="off">

      {{ govukInput({
        'label': {
          'text': 'Column header'
        },
        'id': 'key',
        'name': 'key',
        'value': request.args.get('key', '')
      }) }}

      {{ govukInput({
        'label': {
          'text': 'Row value'
        },
        'id': 'value',
        'name': 'value',
        'value': request.args.get('value', ''),
        'hint': {
          'text': 'Added to each row of the report'
        }
      }) }}

      {{ govukButton({
        'text': 'Add reporting column'
      }) }}

    </form>
  </div>
</div>

{% endblock %}
