{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">How much is the payment for?</h1>

<form method="post" autocomplete="off">
  {{ govukInput({
    'label': {
      'text': "Ammount (£)"
    },
    'classes': "govuk-input--width-4",
    'id': "ammount",
    'name': "ammount"
  }) }}

  {{ govukButton({
    'text': "Continue"
  }) }}

</form>

{% endblock %}
