{% from "components/button/macro.njk" import govukButton %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Payment links</h1>

{% for link in links %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    <a class="govuk-link govuk-link--no-visited-state" href="/payment-links/{{ link.id }}/summary">{{ link.title }}</a>
  </h2>
  <div class="govuk-body govuk-!-margin-bottom-2">https://www.gov.uk/pay/example-service/{{ link.slug }}</div>
  {% if link.metadata %}
    <div class="govuk-hint govuk-!-margin-bottom-6 metadata-summary-container">
      {% for key, value in metadata_loader(link.metadata) %}
        <span class="metadata-summary">
          <span class="metadata-summary-key">{{ key }}</span> <span class="metadata-summary-value">{{ value }}</span>
        </span>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

<div class="stick-at-bottom">
  {{ govukButton({
    'text': "Create a new payment link",
    'href': "/payment-links/create",
    'classes': 'govuk-button--secondary'
  }) }}
</div>

<div class="keyline">
{% if not links or True %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Payment links let you take online payments even if you don’t have a digital service.
        You don’t need any technical knowledge.
      </p>
      <p class="govuk-body">
        The same payment link can be used by all users of your service.
      </p>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}
