{% from "components/button/macro.njk" import govukButton %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Payment links</h1>

{% for link in links %}
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="/pay/{{ link.slug }}">https://www.gov.uk/pay/example-service/{{ link.slug }}</a>
    <a class="govuk-link govuk-link--no-visited-state" href="/payment-links/{{ link.id }}/summary">Edit</a>
  </p>
{% endfor %}

<div class="stick-at-bottom">
  {{ govukButton({
    'text': "Create a new payment link",
    'href': "/payment-links/create"
  }) }}
</div>

{% endblock %}
