{% from "components/button/macro.njk" import govukButton %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Payment links</h1>

{% for link in links %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    <a class="govuk-link govuk-link--no-visited-state" href="/payment-links/{{ link.id }}/summary">{{ link.title }}</a>
  </h2>
  <div class="govuk-body govuk-!-margin-bottom-2">https://www.gov.uk/pay/example-service/{{ link.slug }}</div>
  {% if link.metadata %}
    <div class="govuk-hint govuk-!-margin-bottom-6">
      {% for key, value in metadata_loader(link.metadata) %}
        <span class="metadata-summary">
          <span class="metadata-summary-key">{{ key }}</span> <span class="metadata-summary-value">{{ value }}</span>
        </span>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

{% if not links %}
  <p class="govuk-body">
    Explain payment links
  </p>
{% endif %}

<div class="stick-at-bottom">
  {{ govukButton({
    'text': "Create a new payment link",
    'href': "/payment-links/create",
    'classes': 'govuk-button--secondary'
  }) }}
</div>

{% endblock %}
