{% from "components/table/macro.njk" import govukTable %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Payment link</h1>

{{ govukTable({
  'head': [
    {
      'text': "",
      'classes': 'govuk-!-width-one-third'
    },
    {
      'text': ""
    },
    {
      'text': ""
    },
  ],
  'rows': [
    [
      {'text': 'Public link'},
      {'html': '<a class="govuk-link govuk-link--no-visited-state" href="{link}">https://www.gov.uk/pay/example-service/{slug}</a>'.format(
          link=url_for('pay.payment_link', slug=slug),
          slug=slug,
        ) if created else '<span class="govuk-hint govuk-!-margin-bottom-0">https://www.gov.uk/pay/example-service/{slug}</a></span>'.format(
          slug=slug,
        )
      },
      {'html': ''}
    ],
    [
      {'text': 'Title'},
      {'text': title},
      {'html': '<a class="govuk-link govuk-link--no-visited-state" href="{}">Edit</a>'.format(url_for('.title_and_description', id=id)), 'format': 'numeric'}
    ],
    [
      {'text': 'Details'},
      {'text': description},
      {'html': '<a class="govuk-link govuk-link--no-visited-state" href="{}">Edit</a>'.format(url_for('.title_and_description', id=id)), 'format': 'numeric'}
    ],
    [
      {'text': 'Ammount'},
      {'text': '£{:,.2f}'.format(ammount)},
      {'html': '<a class="govuk-link govuk-link--no-visited-state" href="{}">Edit</a>'.format(url_for('.ammount', id=id)), 'format': 'numeric'}
    ],
  ]
}) }}

<h2 class="govuk-heading-m">Reporting columns</h2>
    <p class="govuk-body {% if metadata %}govuk-!-margin-bottom-0{% endif %}">
      Reporting columns let you add extra information to transactions, for example a cost centre code or business area.
    </p>
{% if metadata %}
  {{ govukTable({
    'head': [
      {
        'text': "",
        'classes': 'govuk-!-width-one-third'
      },
      {
        'text': ""
      },
      {
        'text': ""
      }
    ],
    'rows': metadata
  }) }}
  {{ govukButton({
    'text': 'Add another reporting column',
    'href': '/payment-links/{id}/add-reporting'.format(id=id),
    'classes': "govuk-button--secondary"
  }) }}
{% else %}
  {{ govukButton({
    'text': 'Add reporting columns',
    'href': '/payment-links/{id}/add-reporting'.format(id=id),
    'classes': 'govuk-button--secondary'
  }) }}
{% endif %}

{% if created %}
  <form method="post">
    {{ govukButton({
      'text': 'Save changes'
    }) }}
  </form>
{% else %}
  <form method="post">
    {{ govukButton({
      'text': 'Create payment link'
    }) }}
  </form>
{% endif %}

{% endblock %}
