{% from "components/table/macro.njk" import govukTable %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Payment link</h1>

{{ govukTable({
  'head': [],
  'rows': [
    [
      {'text': 'Title'},
      {'text': title},
      {'html': '<a href="{}">Edit</a>'.format(url_for('.title_and_description', id=id))}
    ],
    [
      {'text': 'Link'},
      {'html': '<a href="{link}">https://www.gov.uk/pay/example-service/{slug}</a>'.format(
          link=url_for('pay.payment_link', slug=slug),
          slug=slug,
        )
      },
      {'html': ''}
    ],
    [
      {'text': 'Description'},
      {'text': description},
      {'html': '<a href="{}">Edit</a>'.format(url_for('.title_and_description', id=id))}
    ],
    [
      {'text': 'Ammount'},
      {'text': '£{:,.2f}'.format(ammount)},
      {'html': '<a href="{}">Edit</a>'.format(url_for('.ammount', id=id))}
    ],
  ]
}) }}

{% if metadata %}
  <h2 class="govuk-heading-m">Reporting columns</h2>
  {{ govukTable({
    'head': [],
    'rows': metadata
  }) }}
  {{ govukButton({
    'text': 'Add more reporting columns',
    'href': '/payment-links/{id}/add-reporting'.format(id=id),
    'classes': "govuk-button--secondary"
  }) }}
{% else %}
  {{ govukButton({
    'text': 'Add reporting columns',
    'href': '/payment-links/{id}/add-reporting'.format(id=id),
    'classes': 'govuk-button--secondary'
  }) }}
{% endif %}

{% if created %}
  <form method="post">
    {{ govukButton({
      'text': 'Save'
    }) }}
  </form>
{% else %}
  <form method="post">
    {{ govukButton({
      'text': 'Create payment link'
    }) }}
  </form>
{% endif %}

{% endblock %}
