{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Payment link</h1>

{{ govukTable({
  'head': [],
  'rows': [
    [
      {'text': 'Title'},
      {'text': link.title},
    ],
    [
      {'text': 'Description'},
      {'text': link.description},
    ],
    [
      {'text': 'Ammount'},
      {'text': link.ammount},
    ],
  ]
}) }}

{% if metadata %}
  <h2 class="govuk-heading-m">Reporting columns</h2>
  {{ govukTable({
    'head': [],
    'rows': metadata
  }) }}
  {{ govukButton({
    'text': 'Add more reporting columns',
    'href': '/payment-links/{id}/add-reporting'.format(link.id),
    'classes': "govuk-button--secondary"
  }) }}
{% else %}
  {{ govukButton({
    'text': 'Add reporting columns',
    'href': '/payment-links/{id}/add-reporting'.format(link.id),
    'classes': 'govuk-button--secondary'
  }) }}
{% endif %}

{{ govukButton({
  'text': 'Create payment link'
}) }}

{% endblock %}
