{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Create payment link</h1>

<form method="post">

  {{ govukInput({
    'label': {
      'text': "Title"
    },
    'id': "title",
    'name': "title"
  }) }}

  {{ govukTextarea({
    name: "description",
    id: "description",
    label: {
      text: "Description"
    },
    hint: {
      text: ""
    }
  }) }}

  {{ govukButton({
    'text': "Create"
  }) }}

</form>

{% endblock %}
