{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Create payment link</h1>

<form method="post" autocomplete="off">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {{ govukInput({
        'label': {
          'text': "Title"
        },
        'id': "title",
        'name': "title",
        'hint': {
          'text': 'Describe what the user is paying for. For example, ‘Pay for a parking permit’.'
        }
      }) }}

      {{ govukTextarea({
        'name': 'description',
        'id': 'description',
        'label': {
          'text': 'Details (optional)'
        },
        'hint': {
          'text': 'Give your users more information. For example, you could tell them how long it takes for their application to be processed.'
        }
      }) }}

    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        How this will look
      </h2>
      <div class="screenshot">
        <div id="link-preview">
          https://www.gov.uk/pay/…
        </div>
        <div class="screenshot-header">
          GOV.UK&emsp;Example service
        </div>
        <div class="screenshot-body">
          <h3 class="govuk-heading-s" id="new-column-title">Title</h3>
          <p class="govuk-body" id="new-column-description">Details</p>
          <div class="screenshot-button">Continue</div>
        </div>
      </div>
    </div>
  </div>

  {{ govukButton({
    'text': "Continue"
  }) }}

</form>

{% endblock %}
