{% extends "_base.html" %}

{% block body %}
  <nav>
    <div class="service">
      {% block service_name %}
        <a href="/services">My services</a> > Example service
      {% endblock %}
    </div>
    {% block nav %}
      <a href="/">Dashboard</a>
      <a href="/transactions">Transactions</a>
      <a href="/reports">Reports</a>
      <a href="/payment-links">Payment links</a>
      <a href="/settings">Settings</a>
    {% endblock %}
  </nav>
  {% block content %}
  {% endblock %}
{% endblock %}
