{% from 'macros/nav.html' import nav_item %}
{% extends "_base.html" %}

{% block header %}
  {{ govukHeader({
    'productName': 'Pay',
    'navigationClasses': 'govuk-header__navigation--end',
    'navigation': [
      {
        'href': "#",
        'text': "Sign out"
      }
    ]
  }) }}
{% endblock %}
{% block body %}
  <nav class="sub">
    <div class="service">
      {% block service_name %}
        <a href="/services" class="govuk-link govuk-link--no-visited-state">My services</a> > Example service
      {% endblock %}
    </div>
    {% block nav %}
      {% for endpoint, label in [
        ('main.home', 'Dashboard'),
        ('main.transactions', 'Transactions'),
        ('payment_links.index', 'Payment links'),
        ('main.settings', 'Settings')
      ] %}
        {{ nav_item(endpoint, label)}}
      {% endfor %}
    {% endblock %}
  </nav>
  {% block service_content %}
  {% endblock %}
{% endblock %}
