{% from 'macros/nav.html' import nav_item %}
{% extends "_base.html" %}

{% block header %}
  {{ govukHeader({
    'productName': 'Pay',
    'navigationClasses': 'govuk-header__navigation--end',
    'navigation': [
      {
        'href': "#",
        'text': "Sign out"
      }
    ]
  }) }}
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {
      $("input, textarea").on('keyup change', function() {
        $("#new-column-" + $(this).attr("id")).text(
          $(this).val()
        )
      }).trigger('keyup');

      $("#title").on('keyup change', function() {
        var val = $(this).val().toLowerCase().replace(' ', '-');
        $("#link-preview").html(
          'https://www.gov.uk/pay/example-service/' + val
        )
      }).trigger('keyup');
    });
  </script>
{% endblock %}
{% block body %}
  <nav class="sub">
    <div class="service">
      {% block service_name %}
        <a href="/services" class="govuk-link govuk-link--no-visited-state">My services</a> > Example service
      {% endblock %}
    </div>
    {% block nav %}
      {% for endpoint, label in [
        ('dashboard.home', 'Dashboard'),
        ('transactions.transactions_index', 'Transactions'),
        ('payment_links.index', 'Payment links'),
        ('settings.settings_index', 'Settings')
      ] %}
        {{ nav_item(endpoint, label)}}
      {% endfor %}
    {% endblock %}
  </nav>
  {% block service_content %}
  {% endblock %}
{% endblock %}
