{% extends "_base.html" %}

{% block content %}

<p>
  <a href="/">Home</a>
</p>

<h1>Create payment link</h1>

<form method="post">
  <fieldset>
    <legend>What the user sees</legend>
    <label for="ammount">Ammount £</label>
    <input type="text" id="ammount" name="ammount" value="">
  </fieldset>
  {% for i in range(10) %}
    <fieldset>
      <legend>Reporting data {{ i + 1 }}</legend>
      <label for="key1">Column name</label>
      <input type="text" name="key{{ i }}" id="key{{ i }}">
      <label for="key1">Value</label>
      <input type="text" name="value{{ i }}" id="value{{ i }}">
    </fieldset>
  {% endfor %}
  <div class="stick-at-bottom">
    <button type="submit">Create</button>
  </div>
</form>

{% endblock %}
