{% extends "_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Dashboard</h1>

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Total income</h2>
<div class="govuk-body govuk-!-margin-bottom-7">
  {{ '£{:,.2f}'.format(total) }}
</div>

<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="/create-payment-link">Create a payment link</a>
</p>
<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="/transactions">View transactions</a>
</p>
{% endblock %}
