{% extends "_admin_base.html" %}

{% block content %}

<h1>Reports</h1>

{% if column_names %}
<p>
  <form method="get">
  Report on:
  {% for col in column_names %}
    <input
      type="checkbox"
      name="grouping_columns"
      value="{{ col }}"
      id="grouping_column_{{ col }}"
      {% if col in request.args.getlist('grouping_columns') %}checked="checked"{% endif %}
      onChange="this.form.submit()"
    >
    <label for="grouping_column_{{ col }}">{{ col|capitalize }}</label>
  {% endfor %}
    <noscript>
      <button type="submit" class="secondary-button">Update</button>
    </noscript>
  </form>
</p>
{% endif %}

{% if results %}
<table>
  <thead>
    <tr>
      {% for column in request.args.getlist('grouping_columns') %}
        <th>{{ column | capitalize }}</th>
      {% endfor %}
      <th>Transactions</th><th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for row in results %}
      <tr>
        {% for column in request.args.getlist('grouping_columns') %}
          <td {% if not row[column] %}class="none"{% endif %}>{{ row[column] }}</td>
        {% endfor %}
        <td>{{ row.transactions }}</td>
        <td>£{{ '{:,.2f}'.format(row.total) }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
