{% extends "_base.html" %}

{% block content %}

<p>
  <a href="/">Home</a>
</p>

<h1>Reports</h1>

<p>
  Group by:
  {% for col in column_names %}
    <a href="/reports?column={{col}}">{{ col|capitalize }}</a>
    {% if not loop.last %}
      &middot;
    {% else %}
      &middot;
      <a href="/reports">No grouping</a>
    {% endif %}
  {% endfor %}
</p>

{% if results %}
<table>
  <thead>
    <tr>
      <th>{{ request.args.get('column') | capitalize }}</th><th>Transactions</th><th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for count, ammount, column in results %}
      <tr>
        <td {% if not column %}class="none"{% endif %}>{{ column }}</td><td>{{ count }}</td><td>£{{ '{:,.2f}'.format(ammount) }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


<h2>Transactions</h2>

<table>
  <thead>
    <tr>
      <th>Ammount</th>
      {% for col in column_names %}
        <th>{{ col|capitalize }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions|reverse %}
      <tr>
        <td>£{{ '{:,.2f}'.format(transaction.ammount) }}</td>
        {% for col in column_names %}
          <td {% if not transaction[col] %}class="none"{% endif %}>{{ transaction[col] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>


<p>
  <a href="/drop">Delete all transactions</a>
</p>

{% endblock %}
