{% extends "_services_admin_base.html" %}

{% block service_content %}

<h1 class="govuk-heading-l">Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Ammount</th>
      <th>Date</th>
      <th>Service</th>
      {% for col in column_names %}
        <th>{{ col|capitalize }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for index, transaction in transactions %}
      <tr>
        <td>£{{ '{:,.2f}'.format(transaction.ammount) }}</td>
        <td>{{ datemaker(index) }}</td>
        <td>Example service</td>
        {% for col in column_names %}
          <td {% if not transaction[col] %}class="none"{% endif %}>{{ transaction[col] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
